<launch>
  <arg name="model" />
  <arg name="gui" default="true" />

  <param name="robot_description" textfile="$(find ros_orion5)/urdf/orion5.urdf" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="orion5_movegroup_demo" pkg="ros_orion5" type="orion5_movegroup_interface.py"/>

</launch>
